<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="script :: headerFragment" th:with="title='题目管理'"/>
		<link th:href="@{/plugins/ztree/3.5.29/css/metroStyle/metroStyle.css}" rel="stylesheet" />
		<link th:href="@{/css/exam/question/view.css}" rel="stylesheet" />
	</head>
	<body class="layui-layout-body">
		<div class="layui-row">
			<div class="layui-col-xs3">
				<ul id="tree" class="ztree"></ul>
			</div>
			<div class="layui-col-xs9">
				<div class="zx-btn-group layui-form">
					<div th:style="${param._p}?'display:none;':'display:inline;'">
						<button class="layui-btn" id="btnAdd">新增</button>
						<button class="layui-btn" id="btnEdit">编辑</button>
						<button class="layui-btn" id="btnMove">移动</button>
						<button class="layui-btn" id="btnDel">删除</button>
					</div>
					<input type="text" id="keyword" name="keyword" class="layui-input zx-keyword" placeholder="请输入关键字" autocomplete="off"/>
		    		<button class="layui-btn" id="btnQuery">查询</button>
					<div class="layui-input-inline">
						<select name="typeOpts" lay-filter="typeOpts">
							<option value=""></option>
							<option value="0">单选题</option>
							<option value="1">多选题</option>
							<option value="2">判断题</option>
						</select>
					</div>
				</div>
				<table class="layui-hide" id="grid"></table>
			</div>
		</div>
		
		<div class="zx-panel">
			<div class="layui-form">
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">分类</label>
						<div class="layui-input-block">
							<input type="hidden" name="cateid" />
							<input type="text" name="catename" autocomplete="off" class="layui-input" readonly="readonly"/>
						</div>
					</div>
				</div>
				
				<div class="layui-form-item">
					<input type="hidden" id="id" value=""/><!-- 试题id -->
					<div class="layui-block">
						<label class="layui-form-label">题目</label>
						<div class="layui-input-block">
							<input type="text" name="name" autocomplete="off" class="layui-input" placeholder="题目不能为空"/>
						</div>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">题目类型</label>
						<div class="layui-input-block">
							<input type="radio" lay-filter="type" name="type" value="0" title="单选题" checked="checked" />
							<input type="radio" lay-filter="type" name="type" value="1" title="多选题" />
							<input type="radio" lay-filter="type" name="type" value="2" title="判断题" />
							<button class="layui-btn layui-btn-sm zx-ans-add">新增答案</button>
						</div>
					</div>
				</div>
				
				<div class="layui-form-item zx-hide zx-tof-panel">
					<div class="layui-block">
						<div class="layui-input-block">
							<input type="radio" lay-filter="tof" name="tof" value="true" title="正确" checked="checked" />
							<input type="radio" lay-filter="tof" name="tof" value="false" title="错误" />
						</div>
					</div>
				</div>
				
				<div class="layui-form-item zx-ans-panel">
					
				</div>
				
			</div>
		</div>
		
		<script type="text/html" id="templateToolbarRoot"><span class='button add zx-toolbar' tid="{{tid}}" onfocus='this.blur();'></span></script>
		<script type="text/html" id="templateToolbar"><span class='button add zx-toolbar' tid="{{tid}}" onfocus='this.blur();'></span><span class='button edit zx-toolbar' tid="{{tid}}" onfocus='this.blur();'></span><span class='button remove zx-toolbar' tid="{{tid}}" onfocus='this.blur();'></span></script>
<script type="text/html" id="templateAns">
<div class="layui-inline">
	<label class="layui-form-label">
		{{if type==0}}
			{{if key}}
				<input type="radio" name="order" lay-filter="single-ans" title=" " checked="checked"/>
			{{else}}
				<input type="radio" name="order" lay-filter="single-ans" title=" " />
			{{/if}}
		{{else if type==1}}
			{{if key}}
				<input type="checkbox" name="order" lay-filter="multi-ans" title=" " checked="checked"/>
			{{else}}
				<input type="checkbox" name="order" lay-filter="multi-ans" title=" " />
			{{/if}}
		{{else if type==2}}
			
		{{/if}}
	</label>
	<div class="layui-input-inline">
		<input type="text" name="answer" autocomplete="off" class="layui-input" _id="{{ansId}}" value="{{ans}}" _checked="{{key}}"/>
		<a href="javascript:void(0);" class="zx-ans-del">删除</a>
	</div>
</div>
</script>
		
		<script type="text/javascript" th:src="@{/plugins/ztree/3.5.29/js/jquery.ztree.all.min.js}"></script>
		<!-- <script type="text/javascript" th:src="@{/plugins/ckeditor/4.8.0/ckeditor.js}"></script> -->
		<script type="text/javascript" th:src="@{/js/exam/question/view.js}"></script>
	</body>
</html>