.layui-table-body{
	height: 360px;
}
.layui-col-xs9{
	padding-top: 3px;
	padding-left: 30px;
}
.zx-ques-panel{
	padding: 4px;
}
.zx-ques-panel .layui-btn{
	margin: 2px;
}
.layui-input-block{
	margin-left: 0px;
}