.layui-table-body{
    height: 360px;
}

@media screen and (max-width: 414px) {
    .zx-nav-img{
        width: 360px;
    }
}
@media screen and (max-width: 320px) {
    .zx-nav-img{
        width: 300px;
    }
}
/* A bit of demo styles */
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 0px solid #ddd;
  background: #fff;
  text-align: center;
}
.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
.zx-cards .button{
	width: 29px;
	margin: 2px;
	float: left;
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0 2px;
}
.zx-cards{
	display: inline-block;
}
.zx-ans .icon-radio {
	display: inline-block;
}
.zx-ans .block{
	margin: 5px 0;
}
.zx-ans .list{
	width: 100%;
	margin: 5px 0;
}
.zx-ans .list .item-title {
	white-space: normal;
}
.zx-block-title {
	margin: 10px 15px 10px;
}
.ios .block{
	margin: 15px 0;
}
/* read page */
.zx-read-panel .list{
	margin: 5px 0;
	width: 100%;
}

.rich_media_content{
	background: #fff;
	padding: 40px 20px 20px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}