<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="script :: headerFragment" th:with="title='考试系统管理后台'"/>
		<link th:href="@{/css/exam/grade/list.css}" rel="stylesheet" />
	</head>
	<body class="layui-layout-body">
		<div class="layui-btn-group" th:style="${param._p}?'display:none;':'display:block;'">
		    <button class="layui-btn" id="btnAdd">新增</button>
		    <button class="layui-btn" id="btnEdit">编辑</button>
		    <button class="layui-btn" id="btnDel">删除</button>
		</div>
		<table class="layui-hide" id="grid"></table>
		
		<div class="zx-panel">
			<div class="layui-form">
				<div class="layui-form-item">
					<input type="hidden" id="id"/>
					<div class="layui-inline">
						<label class="layui-form-label">班级名称</label>
						<div class="layui-input-inline">
							<input type="text" name="name" autocomplete="off" class="layui-input" placeholder="名称不能为空"/>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">请选择学员</label>
						<div class="layui-input-inline">
							<button id="btnPick" class="layui-btn layui-btn-normal layui-btn-sm">请选择</button>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block zx-user-panel"></div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/js/exam/grade/list.js}"></script>
	</body>
</html>