.layui-table-body{
	height: 360px;
}
.zx-panel{
	width: 1000px;
	height: 360px;
	padding: 10px;
	display: none;
}
.layui-form-label{
	min-width: 120px;
}
.layui-input{
	width: 300px;
}
.zx-score, .zx-order{
	width: 60px;
}