.layui-table-body{
	height: 360px;
}
.zx-panel{
	width: 800px;
	height: 360px;
	padding: 10px;
	display: none;
	overflow-x: hidden;
}
.zx-ans-panel .layui-form-checkbox{
	margin-top: -6px;
}
.zx-ans-panel .layui-form-radio{
	margin-top: -6px;
}