<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<th:block th:include="script :: headerFragment" th:with="title='考试系统管理后台'"/>
		<link th:href="@{/css/personal/info.css}" rel="stylesheet" />
	</head>
	<body class="layui-layout-body">
		<form class="layui-form">
			<input type="hidden" id="id"/>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">账号</label>
					<div class="layui-input-block">
						<input type="text" name="username" autocomplete="off" class="layui-input" disabled="disabled"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" name="usernameCN" autocomplete="off" class="layui-input"/>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
					      <input type="radio" name="sex" value="1" title="男" checked="checked"/>
					      <input type="radio" name="sex" value="0" title="女"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">生日</label>
					<div class="layui-input-block">
						<input type="text" name="birthday" class="layui-input" placeholder="yyyy-MM-dd"/>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">手机</label>
					<div class="layui-input-block">
						<input type="tel" name="phone" autocomplete="off" class="layui-input" placeholder="联系方式不能为空"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">邮箱</label>
					<div class="layui-input-block">
						<input type="text" name="email" autocomplete="off" class="layui-input"/>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button id="btnSave" class="layui-btn">确认</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
		<script type="text/javascript" th:src="@{/js/personal/info.js}"></script>
</body>
</html>