<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<th:block th:include="script :: headerFragment" th:with="title='考试系统管理后台'"/>
		<link th:href="@{/css/personal/passwd.css}" rel="stylesheet" />
	</head>
	<body class="layui-layout-body">
		<form class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">原密码</label>
				<div class="layui-input-inline">
					<input type="password" name="oldPwd" placeholder="请输入原密码" class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-inline">
					<input type="password" name="newPwd" placeholder="请输入新密码" class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">确认密码</label>
				<div class="layui-input-inline">
					<input type="password" name="confirmPwd" placeholder="请确认新密码" class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button id="btnSave" class="layui-btn">确认</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
		<script type="text/javascript" th:src="@{/js/personal/passwd.js}"></script>
</body>
</html>