<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		
		<div class="page">
			<!-- Fixed/Dynamic Navbar -->
			<div class="navbar">
				<div class="navbar-inner sliding bg-color-blue text-color-white">
					<div class="left">
						<a class="link back">
							<i class="icon f7-icons color-white">left</i>
							<span class="ios-only text-color-white">返回</span>
						</a>
					</div>
					<div class="title">正欣会计</div>
				</div>
			</div>
			<div id="homeItemPage"></div>
		</div> <!-- //end page -->
	</body>
</html>