<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div data-name="task" class="page">
			<!-- Fixed/Dynamic Navbar -->
			<div class="navbar">
				<div class="navbar-inner sliding bg-color-blue text-color-white">
					<div class="left">
						<a class="link back">
							<i class="icon f7-icons color-white">left</i>
							<span class="ios-only text-color-white">返回</span>
						</a>
					</div>
					<div class="title">正欣会计</div>
					<div class="right">
						<a class="link zx-submit">
							<i class="icon f7-icons color-white">check</i>
							<span class="ios-only text-color-white">交卷</span>
						</a>
					</div>
				</div>
			</div>
			<div class="page-content">
				<div class="zx-block-title"><span class="zx-paper-title"></span>  <span class="badge color-blue zx-sandglass"></span></div>
				<div class="block">
					<p class="segmented segmented-raised">
						<button class="button zx-prev">上一题</button>
						<button class="button zx-next">下一题</button>
						<button class="button popover-open" data-popover=".popover-cards">答题卡</button>
					</p>
				</div>
				<div class="block">
					<p class="row zx-ques"></p>
					<p class="row zx-ans"></p>
				</div>
			</div>

			<div class="popover popover-cards">
				<div class="popover-inner">
					<p class="block zx-cards">
						
					</p>
				</div>
			</div>
			
			<script type="text/template7" id="templetSingle">
				<div class="list">
					<ul>
					{{#each answers}}
						<li>
							<label class="item-radio item-content">
								<input type="radio" name="ans" value="{{id}}">
								<i class="icon icon-radio"></i>
								<div class="item-inner">
          							<div class="item-title">{{name}}</div>
        						</div>
							</label>
						</li>
					{{/each}}
					</ul>
				</div>
			</script>
			<script type="text/template7" id="templetMulti">
				<div class="list">
					<ul>
					{{#each answers}}
					<li>
						<label class="item-checkbox item-content">
							<input name="ans" type="checkbox" value="{{id}}">
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
          							<div class="item-title">{{name}}</div>
        						</div>
						</label>
					</li>
					{{/each}}
					</ul>
				</div>
			</script>
			<script type="text/template7" id="templetTof">
				<p class="col block">
					<label class="radio item-content">
						<input name="ans" type="radio" value="true" title="正确">
						<i class="icon-radio"></i>
						<span>正确</span>
					</label>
				</p>
				<p class="col block">
					<label class="radio item-content">
						<input name="ans" type="radio" value="false" title="错误">
						<i class="icon-radio"></i>
						<span>错误</span>
					</label>
				</p>
			</script>
			
		</div> <!-- //end page -->
	</body>
</html>