<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<th:block th:include="script :: mheaderFragment" th:with="title='正欣会计'"/>
		<link rel="stylesheet" th:href="@{/css/exam/task/list.css}"/>
	</head>
	<body>
		<div id="app">
			<div class="statusbar"></div>
		    
			<!-- Your main view, should have "view-main" class -->
			<div class="view view-main">
				<div data-name="home" class="page">
	
					<!-- Top Navbar -->
					<div class="navbar">
						<div class="navbar-inner bg-color-blue text-color-white">
					        <div class="title">正欣会计</div>
						</div>
					</div>
					
					<th:block th:include="script :: mfooterFragment" th:with="key=tab-home"/>
					
					<div class="tabs">
						<div class="page-content tab tab-active hide-navbar-on-scroll" id="tab-home">
							<div class="swiper-container demo-swiper"> 
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img th:src="@{/DATAS/zhengxin_logo_600_230.png}" height="120"></div>
									<div class="swiper-slide"><img th:src="@{/DATAS/zx_01_600_230.png}" height="120"></div>
									<div class="swiper-slide"><img th:src="@{/DATAS/zx_02_600_230.png}" height="120"></div>
								</div>
							</div>

							<div class="list media-list">
								<ul>
									<li><a href="#" class="item-link item-content">
											<div class="item-media">
												<img th:data-src="@{/DATAS/material/01_500_500.png}" width="80" class="lazy lazy-fade-in">
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">7小时内，初级成绩肯定会出来！</div>
												</div>
												<div class="item-text">2018年初级会计职称考试成绩将于6月10日前公布！</div>
											</div>
									</a></li>
									<li><a href="#" class="item-link item-content">
											<div class="item-media">
												<img th:data-src="@{/DATAS/material/02_320_320.png}" width="80" class="lazy lazy-fade-in">
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">紧急提醒！6月份税务稽查全面打响！连续12个月零申报的将面临这五大税务风险</div>
												</div>
												<div class="item-text">这一次再次提醒到大家，6月份已经到了，有一些非常重要的事情各企业一定要要尽快处理，老板们也不能放松，不完成这些税务处理和自查，会计人可能会面临失业，老板的公司面临倒闭，请快看。</div>
											</div>
									</a></li>
									<li><a href="#" class="item-link item-content">
											<div class="item-media">
												<img th:data-src="@{/DATAS/material/04_350_350.png}" width="80" class="lazy lazy-fade-in">
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">初级考试临近，书没看完、题不会做怎么办？</div>
												</div>
												<div class="item-text">初职考试临近你是不是发现自己越来越睡不着吃不香、学不进？书看不完题刷不完，知识点太TM多了怎么办？</div>
											</div>
									</a></li>
									<li><a href="#" class="item-link item-content">
											<div class="item-media">
												<img th:data-src="@{/DATAS/material/05_320_320.png}" width="80" class="lazy lazy-fade-in">
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">各位老板和会计，工商部门喊你来做工商年报了！报晚了后果会很严重！</div>
												</div>
												<div class="item-text">工商部门喊你来做工商年报了（附完整流程），目前已经4月中旬了，提醒大家，不按时报送影响个人征信， 这件事一定要放在心上！</div>
											</div>
									</a></li>
									<li><a href="#" class="item-link item-content">
											<div class="item-media">
												<img th:data-src="@{/DATAS/material/08_370_370.png}" width="80" class="lazy lazy-fade-in">
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">老会计不愿说、书上学不到的6个会计小秘密！</div>
												</div>
												<div class="item-subtitle">Queen</div>
												<div class="item-text">私企的部分划分普遍不正规，工作权责也不清晰。譬如，有些私企根本没有人事部（办公室），工资还要财务计、财务发，社保要财务搞。遇上这些管理不规范的公司，有时是一件头痛的事，有时也可以让你学到好多东西。</div>
											</div>
									</a></li>
									<li><a href="#" class="item-link item-content">
										<div class="item-media">
											<img th:data-src="@{/DATAS/material/07_380_380.png}" width="80" class="lazy lazy-fade-in">
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">不做账就别想注销！工商异常的公司，连补刻公章都不行！</div>
											</div>
											<div class="item-text">各位老板注意！最严注销新规出来了，想要钻空子、懒省事的老板请换个思路，因为：</div>
										</div>
									</a></li>
								</ul>
								<div class="content-block-title">
									<p style="text-align: center;">-- 我是有底线的 --</p>
								</div>
							</div>
						</div> <!-- //tab-home -->
						<div class="page-content tab" id="tab-task">
							<div class="list links-list">
								<ul class="zx-task-list" id="taskList">
									
								</ul>
								<script id="templetTaskList" type="text/template7">
									{{#each data}}
										<li><a href="/task/{{id}}/{{task.id}}/{{task.status}}/">{{name}}</a></li>
									{{/each}}
								</script>
							</div>
						</div>
						<div class="page-content tab" id="tab-conf">
							<div class="list media-list">
								<ul>
									<li><a href="#" class="item-link item-content">
											<div class="item-media">
												<img th:data-src="@{/DATAS/zx-avatar.jpg}" width="44" class="lazy lazy-fade-in"/>
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title zx-username"></div>
												</div>
												<div class="item-subtitle">业精于勤荒于嬉 行成于思毁于随</div>
											</div>
									</a></li>
								</ul>
							</div>

							<div class="list">
								<ul>
									<li><a href="#" data-popup=".popup-about" class="item-link item-content zx-about popup-open">
											<div class="item-media">
												<i class="icon f7-icons">info</i>
											</div>
											<div class="item-inner">
												<div class="item-title">关于我们</div>
											</div>
									</a></li>
									<li><a href="javascript:;" class="item-link item-content zx-help">
											<div class="item-media">
												<i class="icon f7-icons">help</i>
											</div>
											<div class="item-inner">
												<div class="item-title">帮助与反馈</div>
											</div>
									</a></li>
									<li><a href="javascript:;" class="item-link item-content zx-version">
											<div class="item-media">
												<i class="icon f7-icons">data</i>
											</div>
											<div class="item-inner">
												<div class="item-title">版本</div>
											</div>
									</a></li>
									<li><a href="javascript:;" class="item-link item-content zx-logout">
											<div class="item-media">
												<i class="icon f7-icons">logout</i>
											</div>
											<div class="item-inner">
												<div class="item-title">退出</div>
											</div>
									</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="popup popup-about">
						<div class="navbar">
							<div class="navbar-inner bg-color-blue text-color-white">
						        <div class="title">麻城市正欣会计</div>
						        <div class="right"><button class="button popup-close color-white">关闭</button></div>
							</div>
						</div>
						<div class="block">
							<div class="block">
								<p style="text-align: center"><img th:data-src="@{/DATAS/weixin_logo.jpg}" width="180" class="lazy lazy-fade-in" /></p>
								<p>
									专注会计行业，多种特色行业真账实操，<br/>
									会计各大职称考试，企业财税管控，<br/>
									Excel以及财税软件真账实习，<br/>
									无缝对接企业，一站式就业服务。
								</p>
							</div>
							<div class="block block-strong">
								<p>
									<b>地址</b> 麻城市金桥大道1号金桥花园小区门口<br/>
									<b>联系电话</b> <a href="tel:07132985077">0713-2985077</a><br/>
									<b>联系人</b> <a href="tel:07132985077">杨老师</a><br/>
									<b>Email</b> <a href="mailto:3410247727@qq.com">3410247727@qq.com</a><br/>
								</p>
							</div>
						</div>
					</div>
					
				</div> <!-- //home-page -->
			</div>
		</div>
		<script type="text/javascript" th:src="@{/plugins/framework7/v3.0.0-beta.6/js/framework7.min.js}"></script>
		<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    	<script src="http://cdn.bootcss.com/json2/20160511/json2.js"></script>
		
		<script type="text/javascript" th:src="@{/js/exam/task/list.js?t=1}"></script>
		<script type="text/javascript" th:src="@{/js/exam/task/app-exec.js}"></script>
		<script type="text/javascript" th:src="@{/js/exam/task/app-read.js}"></script>
	</body>
</html>