<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="script :: headerFragment" th:with="title='我的试卷'"/>
		<link th:href="@{/css/exam/task/view.css}" rel="stylesheet" />
	</head>
	<body class="layui-layout-body">
		<table class="layui-hide" id="grid" lay-filter="grid"></table>
		<script type="text/html" id="toolbar">
  			<a class="layui-btn layui-btn-xs" lay-event="doExam">开始答题</a>
		</script>
		<script type="text/javascript" th:src="@{/js/exam/task/view.js}"></script>
	</body>
</html>