body{
	overflow: hidden;
	background: url(../../DATAS/bg.jpg) no-repeat;
	background-size: 1366px;
}
.zx-nav-img{
	width: 260px;
}
.login{ height:260px;width:260px;padding: 20px;background-color:rgba(0,0,0,0.5);border-radius: 4px;position:absolute;left: 50%;top: 40%; margin:-150px 0 0 -150px;z-index:99;}
.login h1{ text-align:center; color:#fff; font-size:24px; margin-bottom:20px; }
.zx-btn-login{ width:100%; }