<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="script :: headerFragment" th:with="title='考试系统管理后台'"/>
		<link th:href="@{/css/exam/paper/list.css}" rel="stylesheet" />
	</head>
	<body class="layui-layout-body">
		<div class="zx-btn-group">
			<div th:style="${param._p}?'display:none;':'display:inline;'">
			    <button class="layui-btn" id="btnAdd">新增</button>
			    <button class="layui-btn" id="btnEdit">编辑</button>
			    <button class="layui-btn" id="btnEnable">停用/启用</button>
			    <button class="layui-btn layui-btn-danger" id="btnDel">删除</button>
				<button class="layui-btn" id="btnCopy">复制</button>
			    <button class="layui-btn" id="btnView">查阅</button>
		    </div>
		    <input type="text" id="keyword" name="keyword" class="layui-input zx-keyword" placeholder="请输入关键字" autocomplete="off"/>
		    <button class="layui-btn" id="btnQuery">查询</button>
		  </div>
		<table class="layui-hide" id="grid"></table>
		
		<div class="zx-panel">
			<div class="layui-form">
				<input type="hidden" id="id"/>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">试卷名称</label>
						<div class="layui-input-inline">
							<input type="text" name="name" autocomplete="off" class="layui-input" placeholder="试卷名称不能为空"/>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">有效期</label>
						<div class="layui-input-inline" style="width:300px;">
							<input type="text" class="layui-input" id="startDate" name="startDate" placeholder="yyyy-MM-dd" style="width:100px;display:inline;"/>
							 ~ 
							<input type="text" class="layui-input" id="endDate" name="endDate" placeholder="yyyy-MM-dd" style="width:100px;display:inline;"/>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">限时（分钟）</label>
						<div class="layui-input-inline">
							<input type="text" name="limit" autocomplete="off" class="layui-input" placeholder="请输入数值" value="120"/>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">总分</label>
						<div class="layui-input-inline">
							<input type="text" name="total" autocomplete="off" class="layui-input" placeholder="请输入数值" value="100"/>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">请选择班级</label>
						<div class="layui-input-inline">
							<button id="btnPick" class="layui-btn layui-btn-normal layui-btn-sm">请选择</button>
							<button id="btnClear" class="layui-btn layui-btn-normal layui-btn-sm">清空</button>
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-input-inline zx-grade-panel">
							
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">请选择试题</label>
						<div class="layui-input-inline">
							<button id="btnPickQues" class="layui-btn layui-btn-normal layui-btn-sm">请选择</button>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block zx-ques-panel">
						<table class="layui-table" lay-size="sm">
							<colgroup>
								<col width="50" />
								<col />
								<col width="150" />
								<col width="150" />
							</colgroup>
							<thead>
								<tr>
									<th></th>
									<th>题目名称</th>
									<th>分值</th>
									<th>排序</th>
								</tr>
							</thead>
							<tbody id="quesPanel">
	
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<table class="layui-hide" id="taskGrid"></table>
		
		<script type="text/html" id="templateQues">
			{{each $data value index}}
				<tr _id="{{value.id}}">
					<td>{{index+1}}<a href="javascript:void(0);" _id="{{value.id}}" class="zx-ques-del"><img th:src="@{/DATAS/bin_closed.png}"/></a></td>
					<td><span class="layui-badge">{{if value.type==0}}单选题{{else if value.type==1}}多选题{{else}}判断题{{/if}}</span> {{value.name}}</td>
					<td><input type="text" class="layui-input zx-score" name="score" value="{{value.score}}"/></td>
					<td><input type="text" class="layui-input zx-order" name="order" value="{{value.order}}"/></td>
				</tr>
			{{/each}}
		</script>
		
		<script type="text/javascript" th:src="@{/js/exam/paper/list.js}"></script>
	</body>
</html>