<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="script :: headerFragment" th:with="title='考试系统管理后台'"/>
		<link th:href="@{/css/main/main.css}" rel="stylesheet" />
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">麻城正欣会计</div>
				<!-- 头部区域（可配合layui已有的水平导航） -->
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item"><a href="javascript:void(0);">首页</a></li>
					<li class="layui-nav-item"><a href="javascript:void(0);">系统管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:void(0);" lay-id="mgrUser">用户管理</a>
							</dd>
							<dd>
								<a href="javascript:void(0);">角色管理</a>
							</dd>
							<dd>
								<a href="javascript:void(0);">权限管理</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item">
						<a href="javascript:void(0);">考试管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:void(0);">题目管理</a>
							</dd>
							<dd>
								<a href="javascript:void(0);">班级管理</a>
							</dd>
							<dd>
								<a href="javascript:void(0);">试卷管理</a>
							</dd>
						</dl>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:void(0);"> 
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img" /> 贤心
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:void(0);">基本资料</a>
							</dd>
							<dd>
								<a href="javascript:void(0);">安全设置</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="javascript:void(0);" id="navLogout">登出</a></li>
				</ul>
			</div>
	
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="zxYNav">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:void(0);">系统管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:void(0);" id="mgrUser">用户管理</a>
								</dd>
								<dd>
									<a href="javascript:void(0);" id="mgrRole">角色管理</a>
								</dd>
								<dd>
									<a href="javascript:void(0);" id="mgrMenu">菜单管理</a>
								</dd>
								<dd>
									<a href="javascript:void(0);" id="mgrPermission">权限管理</a>
								</dd>
							</dl></li>
						<li class="layui-nav-item">
							<a href="javascript:void(0);">考试管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:void(0);" _url="/exam/question/view" id="mgrQues">题目管理</a>
								</dd>
								<dd>
									<a href="javascript:void(0);" _url="/exam/grade/list" id="mgrGrade">班级管理</a>
								</dd>
								<dd>
									<a href="javascript:void(0);" _url="/exam/paper/list" id="mgrQues">试卷管理</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
	
			<div class="layui-body">
				<!-- 内容主体区域 -->
				<div class="layui-tab layui-tab-brief" lay-filter="zxTab" lay-allowClose="true">
					<ul class="layui-tab-title">
						<li class="layui-this" lay-id="mgrUser">用户管理</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<iframe th:src="@{/user/list}"></iframe>
						</div>
					</div>
				</div>
			</div>
	
			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© <a href="http://zhengxinacc.com" target="_blank">zhengxinacc.com</a>
				© <a href="http://ekozhan.com" target="_blank">ekozhan.com</a>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/main/main.js}"></script>
	</body>
</html>