html, body{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
body{
	background: url(../DATAS/bg-m.png);
}
.login-screen{
	background-color: rgba(255, 255, 255, 0.4);
}
.page{
	background: transparent !important;
}
.login-screen-content{
	/* background: url(../DATAS/bg-m.png) no-repeat; */
	background: transparent;
}
.zx-nav-img{
	width: 260px;
}
